body, html {
    height: 100%;
}


.parallax {
    /* Image for parallax */
    /*background-image: url("/images/image_1.jpg");*/
    background-image: url("/images/image_1.jpg");

    /* Setting height for image */
    height: 40%;

    /* Parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mainContent {
    min-height: 500px;
    background-color: rgba(190, 190, 190, 0.62);
    font-size: 25px;
}


